/* ---------- Imports ---------- */

@import url('global.css');
@import url('header.css');
@import url('hero.css');
@import url('together.css');
@import url('footer.css');

/* ---------- Imports ---------- */

/* ---------- Main ---------- */

.main {
	margin-top: clamp(200px, 15vw, 280px);
}

/* ---------- Main ---------- */

/* ---------- Hero ---------- */

/* .hero {
} */

/* .hero__container {
} */

.hero__inner {
	flex-direction: column;
	align-items: center;
	gap: clamp(32px, 5vw, 62px);
}

/* .hero__title {
} */

/* .main__title {
} */

.hero__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 13px;
}

/* .hero__category {
} */

/* .category__item {
} */

/* ---------- Hero ---------- */

/* ---------- Gallery ---------- */

.gallery {
	margin-top: clamp(100px, 10vw, 200px);
}

/* .gallery__container {
} */

/* .gallery__inner {
} */

.gallery__row {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 44px 22px;
}

.gallery__item {
	height: 545px;
	flex: 0 1 48%;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.gallery__item__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery__item__content {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 30px;
	background-color: #36363646;
	backdrop-filter: blur(10px);
	transition: all .3s ease-in-out;
}

.gallery__item__content:hover {
	opacity: 1;
	padding: 20px;
}

.gallery__item__title {
	color: var(--white);
	font-size: 18px;
}

.gallery__item__link-btn {
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
}

@media (max-width: 768px) {
	.gallery__item {
		height: 300px;
		flex: 1 1 auto;
		overflow: visible;
	}

	.gallery__item__image {
		overflow: hidden;
		border-radius: 10px;
	}

	.gallery__item__content {
		opacity: 1;
		bottom: 0;
		padding: 0;
		background: none;
		backdrop-filter: blur(0px);
	}

	.gallery__item__link-btn {
		display: none;
	}

	.gallery__item__title {
		color: var(--black);
		margin-top: 310px;
		font-size: 14px;
	}
}

@media (max-width: 481px) {
	.gallery__row {
		gap: 50px;
	}
}

/* ---------- Gallery ---------- */
